
- name: Config backup server
  hosts: client
  become: true

  tasks:
    - name: Install epel-release
      ansible.builtin.yum:
        name: epel-release

    - name: Install packages
      ansible.builtin.yum:
        name: "{{ packages }}"
      vars:
        packages:
          - nano
          - borgbackup

    - name:  Create group
      ansible.builtin.group:
        name: borg

    - name: Create user
      ansible.builtin.user:
        name: borg
        generate_ssh_key: yes

    - name: Disable strict host check
      ansible.builtin.lineinfile:
        path: "/etc/ssh/ssh_config"
        line: "StrictHostKeyChecking no"

    - name: Download file
      become: yes
      fetch:
        src: /home/borg/.ssh/id_rsa.pub
        dest: ../ssh/id_rsa.pub
        flat: yes

    - name: Copy from Local1
      copy:
        src: ../systemd/borg-backup.service
        dest: /etc/systemd/system/borg-backup.service
        mode: "0755"

    - name: Copy from Local2
      copy:
        src: ../systemd/borg-backup.timer
        dest: /etc/systemd/system/borg-backup.timer
        mode: "0755"
