- name: Config backup server
  hosts: client
  become: true

  tasks:
    - name: Init borg
      become: yes
      become_user: borg
      ansible.builtin.command: borg init --encryption=repokey borg@192.168.56.10:/var/backup/
      environment:
        BORG_PASSPHRASE: 123

    - name: Enable backup timer
      ansible.builtin.systemd:
        name: borg-backup.timer
        state: started
        enabled: true

    - name: Initial start backup service
      ansible.builtin.systemd:
        name: borg-backup
        state: started
