- name: ipa
  hosts: all
  #Выполнять действия от root-пользователя
  become: yes
  tasks:
  #Запуск скрипта добавления хоста к серверу
  - name: add host to ipa-server
    shell: echo -e "yes\nyes" | ipa-client-install --mkhomedir --domain=OTUS.LAN --server=ipa.otus.lan --no-ntp -p admin -w otus4321
